body {
    color: white;
    font-family: 'Oswald', sans-serif;
    background-image: url("/img/card_background.webp");
    margin: 0;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Nothing You Could Do', cursive;
    color: red;
    font-weight: bold;
}

h2{
    text-align: center;
}

h4{
    margin: 0px;
    font-weight: normal;
}

.card:hover{
    animation: bounce 0.5s linear;
}

@keyframes  bounce{
    20%{
        transform: translateY(-10px);
    }
}

.search-box{
    display: flex;
    padding: 20px;
    margin: auto;
    text-align: center;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/charizardBG.jpg");
}

#searchForm{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px;
    border-radius: 25px;
}


#searchButton{
    cursor: pointer;
}


/* ID of the DIV with the card list */
#cardList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 10px;
    /*background-image: url("/img/card_background.webp");*/
    text-align: center;
}

/* Class of the DIVs inside the cardList DIV */
.card{
    margin: auto;
    background-color: transparent;
    color: white;
}

/* Card Image */
#card-image{
    width: 100%;
    max-width: 300px;
    height: 415px;
    margin: auto; 
    cursor: pointer;
}

/* Card Image inside Popup */
.pokemonImg #card-image{
    cursor: default;
    height: auto;
}

/* Card Set Symbol */
.symbol{
    max-width: 50px;
    height: auto;
}

/* Card pop-up */
.pokemonPopUp{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    color: black;
    background: transparent;
    justify-content: center; 
    align-items: center;
    overflow-y: scroll;
}

/* Card Info pop-up */
.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    opacity: 1;
    gap: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}


/* Card image grid config */
.pokemonImg{
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: center;
}

/* Pokemon name grid config */
.pokemonName{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 2px solid white;
    position: relative;
}

/* Set info grid config */
.setInfo{
    grid-row-start: 2;
    grid-column-start: 3;
    margin: auto 0;    
}

/* Card info grid config */
.cardInfo{
    grid-row-start: 2;
    margin: auto;
}

/* Card Info Titles */
mark.title{
    background-color: transparent;
    color: red; 
}

/* Card Attack Damage */
mark.attackDmg{
    background-color: transparent;
    color: white;
    vertical-align: center;
}



/* ------------------ Bootstrap  ------------------*/

.card-text{
    text-align: center;
    margin: auto;
}

/* Button to close the card pop-up*/
.btn-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}