body {
    color: white;
    font-family: 'Oswald', sans-serif;
    background-image: url("/img/card_background.webp");
    margin: 0;
}

h1{
    font-family: 'Nothing You Could Do', cursive;
    color: red;
    font-weight: bold;
}

h2{
    text-align: center;
}

h4{
    margin: 0px;
    font-weight: normal;
}

.card:hover{
    animation: bounce 0.5s linear;

}

@keyframes  bounce{
    20%{
        transform: translateY(-10px);
    }
}

.search-box{
    padding: 20px;
    margin: auto;
    text-align: center;
    place-items: center;
    /*background-image: url("/img/background.jpg");*/
    
}

#searchButton{
    cursor: pointer;
}


/* ID of the DIV with the card list */
#cardList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 10px;
    /*background-image: url("/img/card_background.webp");*/
    text-align: center;
    
    
}

/* Class of the DIVs inside the cardList DIV */
.card{
    margin: auto;
    background-color: transparent;
    color: white;

}

/* Card Image */
.card-image{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto; 
    cursor: pointer;

}

.pokemonImg .card-image{
    cursor: default;
}

/* Card Set Symbol */
.symbol{
    max-width: 50px;
    height: auto;
}

/* Card pop-up */
.pokemonPopUp{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    min-width: 100%;
    color: black;
    background: transparent;
    justify-content: center; 
    align-items: center;
    overflow-y: scroll;
}

/* Card Info pop-up */
.pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    opacity: 1;
    gap: 10px;
    text-align: center;
    border: 2px solid red;
    background: rgba(255, 255, 255, 0.95);
    
}

/* Card image grid config */
.pokemonImg{
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: center;
    
}

/* Pokemon name grid config */
.pokemonName{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 2px solid black;
    position: relative;
    
    
}

/* Set info grid config */
.setInfo{
    grid-row-start: 2;
    grid-column-start: 3;
    margin: auto 0;    
}

/* Card info grid config */
.cardInfo{
    grid-row-start: 2;
    margin: auto;
    
}


/* Button to close the card pop-up*/
#closeBtn{
    position: absolute;
    width: 100%;
    max-width: 40px;
    height: auto;
    top: 0px;
    right: 0px;
    cursor: pointer;
    
    
    
    /*top: 20px;
    right: 30px;*/
}

/* Card Info Titles */
mark.title{
    background-color: transparent;
    color: red;
    
}
/* Card Attack Damage */
mark.attackDmg{
    background-color: transparent;
    color: black;
    vertical-align: center;
}



